/* @media (min-width:992px) {
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        width: 50%;
        float: left;
    } 
}
@media (min-width:776px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
        width: 50%;
        float: left;
    } 
} */

@media only screen and (max-width: 992px){
    .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        width: 100%;
    } 
}
@media only screen and (max-width: 992px){
    .flex-direction-column-reverse {
        flex-direction: column-reverse;
    }
    .md-max-width-600 {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .case-study-container .row {
        max-width: 500px;
        text-align: center;
        margin: auto;
    }
    .landing-rw {
        flex-direction: column-reverse;
    }
    .landing-peru-container {
        display: none;
    }
    .landing-cta-content {
        text-align: center;
    }
    .case-study-img-1 {
        float: none;
    }
}
@media screen and (max-width: 767px) {
    .circle-container .circle-2 {
        width: 200px;
        height: 300px;
        bottom: 0;
        right: -50px;
    }
    .circle-container .circle-3 {
        width: 200px;
        height: 300px;
        top: -50px;
        left: -50px;
    }
    .case-study-grid {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 450px) {
    .landing-peru-img {
        width: 350px;
        height: 350px;
    }
}